<%- include('../partials/header.ejs') %>

  <body onload="register()">

  <h3>Join ChiQuery</h3>
    <div class="form-box">
      <div class="button-box">
        <div id="btn"></div>
        <button
          type="button"
          class="toggle-btn"
          onclick="register()">Register</button>
        <button
          type="button"
          class="toggle-btn"
          onclick="login()">Log In</button>
      </div>
      <form method="POST" action="/auth/join" id="register" class="input-group">
        <input
          type="email"
          class="input-field"
          name="email"
          placeholder="Enter Email"
          required>
        <input
          type="password"
          class="input-field"
          name="password"
          placeholder="Enter Password"
          required>
        <button class="submit-btn">Register</button>
      </form>

      <form method="POST" action="/auth/login" id="login" class="input-group">
        <input
          type="email"
          class="input-field"
          name="email"
          placeholder="Enter Email"
          required>
        <input
          type="password"
          class="input-field"
          name="password"
          placeholder="Enter Password"
          required>
        <button class="submit-btn">Log In</button>
      </form>

    <script>

      let x = document.getElementById("register");
      let y = document.getElementById("login");
      let z = document.getElementById("btn");

      function login() {
        x.style.left = "-400px";
        y.style.left = "50px";
        z.style.left = "110px";
      }

      function register() {
        x.style.left = "50px";
        y.style.left = "450px";
        z.style.left = "0";
      }

    </script>

    <%- include('../partials/footer.ejs') %>



