<%- include('../partials/header.ejs') %>

  <h3>Join ChiQuery</h3>

  <form method="POST" action="/auth/join">
    <fieldset>
      <legend>
        <small>
          Choose a email and password below
        </small>
      </legend>
      <div>
        <label for="email">Email:</label>
        <input
          id="email"
          type="email"
          name="email"
          placeholder="Choose an email"
        />
      </div>
      <div>
        <label for="password">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Choose a password"
        >
      </div>
      <button>Sign up!</button>
    </fieldset>
  </form>

<%- include('../partials/footer.ejs') %>
