<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
      <h3 id="chiq">ChiQuery</h3>

      <nav>
        <a href="/">Home</a>
      </nav>

      <nav id="auth">
        <a href="/auth/login">Login</a>
        <a href="/auth/join">Join</a>
      </nav>
    </div>

    <div class="brand">
      <h3 id="local">Local Business.</h3>
      <h3 id="done">Done Right.</h3>
    </div>
