<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
      <a href="/"><h3 id="chiq">ChiQuery</h3></a>
      <!-- its only grabbing a small piece of the image -->


    <div class="auth">
      <nav>
        <li class="sub-nav"><a id="hh" href="/">Home</a>
          <ul>
            <li><a href="/user/home">My Jobs</li>
            <li><a href="/user/allJobs">All Job Posts</li>
            <li><a href="#">My Profile</li>
          </ul>
        </li>
        <a id="kk" href="/auth/logout">Log out</a>
        <a id="ll" href="/auth/login">Login</a>
        <a id="jj" href="/auth/join">Join</a>
      </nav>
    </div>

    <div class="brand">
      <h3 id="local">Local Business.</h3>
      <h3 id="done">Done Right.</h3>
    </div>
  </div>
