<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
    <div class="container">
      <h3 id="chiq">ChiQuery</h3>
    </div>

    <div class="auth">
      <nav>
        <a id="hh" href="/">Home</a>
        <a id="ll" href="/auth/login">Login</a>
        <a id="jj" href="/auth/join">Join</a>
      </nav>
    </div>

    <div class="brand">
      <h3 id="local">Local Business.</h3>
      <h3 id="done">Done Right.</h3>
    </div>
