<%- include('../partials/header.ejs') %>

<div class="form-box">
  <div class="chi-profile">
    <h3>Post a New Job</h3>
  </div>

  <form method="POST" action="/post/jobPost" id="job-post" class="input-group-new">

    <!-- <label for="title">Job Title</label> -->
    <input
    class="input-field"
    type="text"
    name="title"
    placeholder="Title of Job">

    <div class="experience">
		<!-- <label for="experience">Level of Experience</label> -->
		  <select class="input-field" id="experience" name="experience">
		    <option value="entry-level">Entry Level</option>
		    <option value="mid-level">Mid Level</option>
		    <option value="senior-level">Senior Engineer</option>
		    <option value="principal-level">Principal Engineer</option>
      </select>
	</div>

  <div class="budget">

	 <!-- <label for="budget">Budget:</label> -->
	 <select class="input-field" id="budget" name="budget">
		<option value="Below $1,000">Below $1,000</option>
		<option value="$1,000 - $5,000">$1,000 - $5,000</option>
		<option value="Above $5,000">Above $5,000</option>
	 </select>
	</div>

  <div>

		<!-- <label for="description">Job Description:</label> -->
		  <textarea
          class="input-field"
					id="description"
					name="description"
					rows="4"
					cols="50"
					placeholder="Write your job detail here"></textarea>
	</div>

  <button class="submit-btn-profile">Post Job</button>
  </form>
</div>



<%- include('../partials/footer.ejs') %>
