html {
  background: url(https://i.imgur.com/wEPH80T.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container {
  background: rgb(213, 213, 213, 0.5);
  font-family: zilap orion personal use;
  height: 70px;
  width: 100%;
  top: 0;
  position: fixed;

}

#chiq {
  font-family: zilap orion personal use;
  color: #FF7D41;
  background-color: white;
  display: inline-block;
  width: 120px;
  height: 40%;
  border: 1px solid white;
  text-align: center;
  padding-left: 30px;

}

.auth {
  font-family: zilap orion personal use;
}

a {
  color: white;
}

/* PUT THESE BACK LATER*/


a:hover {
  color: #FF7D41;
}

#local {
  font-family: SF Pro Display;
  font-weight: bold;
  font-size: 36px;
  color: #FF7D41;
  margin-top: 5px;
  line-height: 0
}

#done {
  font-family: SF Pro Display;
  font-weight: bold;
  font-size: 36px;
  color: white;
  line-height: 0;
  padding-right: 65px;
}

.brand {
  position: relative;
  top: 205px;
  text-align: right;
  padding-right: 190px;
}

.auth {
  font-family: zilap orion personal use;
  text-align: right;
  padding-right: 55px;
  position: relative;
  bottom: 42px;
}

#ll {
  padding-right: 35px;
}

#hh {
  padding-right: 35px;
  padding-left: 35px;
}

#kk {
  padding-right: 35px;
}

.form-box {
  width: 380px;
  height: 480px;
  position: relative;
  margin: 6% auto;
  background: white;
  padding: 5px;
  overflow: scroll;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  position: relative;
  box-shadow: 0 0 20px 9px #ff61241f;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border-radius: 30px;
  transition: .5s;
}

.input-group {
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s
}
.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 0 solid #999;
  outline: none;
  background: transparent;
}

.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
}

#login {
  left: 50px;
}

#register {
  left: 450px;
}


/*USER HOME PAGE */
.user-form-box {
  width: 380px;
  height: 150px;
  position: relative;
  margin: 30px;
  background: white;
  padding: 5px;
  overflow: scroll;
  left: 100px;
  top: 140px;
}

.second-form-box {
  width: 380px;
  height: 150px;
  position: relative;
  margin: 30px;
  background: white;
  padding: 5px;
  overflow: hidden;
  left: 800px;
  top: -45px;
}

h2 {
  font-family: SF Pro Display;
  color: #FF7D41;
  font-size: 18px;
  padding-left: 30px;
}

#orderedList {
  font-family: SF Pro Display;
  font-size: 14px;
}

#postJobButton {
  height: 37px;
  width: 100px;
  background-color: #FF7D41;
  color: white;
  font-size: 16px;
  border: none;
  position: absolute;
  right: 300px;
  top: 205px;
}

.chi-profile {
  font-family: SF Pro Display;
  color: #FF7D41;
  text-align: center;
}

.input-group-new {
  top: 100px;
  position: absolute;
  width: 280px;
  transition: .5s
}

.submit-btn-profile {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(to right, #ff105f, #ffad06);
  border: 0;
  outline: none;
  border-radius: 30px;
  left: 50px;
  margin-left: 71px;
  margin-top: 30px;
}

li {
  list-style: none;
}

.auth .sub-nav {
  float: right;
}

nav li ul {
  /*display: block;*/
  background-color: #fff;
  position: absolute;
  padding: 10px;
  border-radius: 0px 0px 4px 4px;
  list-style: none;
  width: 130px;
  height: 70px;
  visibility: hidden;
  display: block;
}


nav li:hover ul {
  /*display: block;*/
  visibility: visible;
}




nav li ul li {
  display: block;
  width: 180px;
  border-radius: 0px 0px 4px 4px;
}


nav li ul li a {
  display: block;
  color: rgba(0, 0, 0, 0.2);
  font-family: SF Pro Display;
  font-size: 12px;
  display: flex;
  justify-content: left;
  padding-left: 20px;
  text-decoration: none;
  padding-top: 5px;
  visibility: visible;
}

nav li ul li a:hover {
  color: #FF7D41;
  visibility: visible;
}

.post-style a {
  visibility: visible;
  display: block;
  color: black;
}

.post-style a:hover {
  display: block;
  visibility: visible;
  color: blue;
}

#budget {
  color: #FF7D41;
  background-color: lightgray;
}

#experience {
  color: #FF7D41;
  background-color: lightgray;
}

#entry-style {
  font-family: SF Pro Display;
}

.post-list {
  font-family: SF Pro Display;
}

.post-list a {
  color: black;
}

.post-list a:hover {
  color: #4286f4;
}

.submit-btn-edit {
  width: 10%;
  padding: 10px 27px;
  cursor: pointer;
  display: block;
  margin: 20px;
  background: lightgray;
  border: 0;
  outline: none;
  border-radius: 30px;
  text-align: center;
  font-family: SF Pro Display;
  font-size: 12px;
  color: white;
}

.submit-btn-edit a {
  text-decoration: none;
  color: white;
}

.submit-btn-delete {
  width: 70%;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 20px;
  background: lightgray;
  border: 0;
  outline: none;
  border-radius: 30px;
  font-family: SF Pro Display;
  font-size: 12px;
  color: red;
}

.submit-btn-delete:hover {
  background-color: red;
  color: white;
}

.submit-btn-edit:hover {
  background-color: green;
  color: white;
}

.submit-btn-edit a:hover {
  text-decoration: none;
  color: white;
}

#line-buttons {
  display: flex;
  justify-content: center;
  padding-left: 70px;
}

#dev-header {
  display: flex;
  justify-content: center;
  color: #FF7D41;
  margin: 0;
  width: 25%;
  position: relative;
  top: 180px;
  left: 150px;
  font-size: 12px;
  font-family: SF Pro Display;
}

#business-header {
  display: flex;
  justify-content: center;
  color: #FF7D41;
  margin: 0;
  width: 25%;
  position: relative;
  top: 180px;
  left: 150px;
  font-size: 12px;
  font-family: SF Pro Display;
}

#dev-message {
  display: flex;
  justify-content: center;
  color: #FF7D41;
  margin: 0;
  width: 25%;
  position: relative;
  top: 60px;
  left: 150px;
  font-size: 18px;
  font-family: SF Pro Display;
}

.offer-post a {
  display: block;
  visibility: visible;
  color: black;
}

.offer-post a:hover {
  visibility: visible;
  display: block;
  color: blue;
}

.profile-home {
  font-family: SF Pro Display;
  font-size: 12px;
  position: relative;
  left: 28px;
}

#profile-header {
  color: #FF7D41;
  font-size: 18px;
}

.show-label {
  font-family: SF Pro Display;
  color: #FF7D41;
  /*position: relative;
  left: 150px;*/
}

.show-page {
  color: black;
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  outline: none;
  border-radius: 7px;
  /*position: relative;
  left: 50px;*/
  /*text-align: center;*/
  font-size: 14px;
  font-weight: normal;
}



.all-form-box {
  width: 550px;
  height: 150px;
  position: relative;
  margin: 6% auto;
  background: white;
  padding: 5px;
  overflow: scroll;
  top: 20px;
}

/*#all-jobs {
  width: 100%;
  height: 100%;
  position: relative;
  right: 20px;
  margin: 6% auto;
  padding: 5px;
  overflow: scroll;
  color: red;
}*/


.jobs-list {
  color: black;
  font-family: SF Pro Display;
}

#all-jobs-link {
  visibility: visible;
  display: block;
  color: #FF7D41;
}

#all-jobs-link:hover {
  color: #4286f4;
}

#message {
  text-align: center;
  font-family: SF Pro Display;
}

.offer-list {
  font-family: SF Pro Display;
}


