<%- include('../partials/header.ejs') %>

  <div>
    <a href="/post/jobPost"><button id="postJobButton">Make an Offer</button></a>
  </div>
    <div id="dev-header"><h1><%= profile.contactName %></h1></div>
    <div id="dev-message"><p><%= message %></p></div>
    <div class="user-form-box">

      <h2>My Offers</h2>



    </div>
    <div class="second-form-box">
      <h2>How it works</h2>
      <ol id="orderedList">
        <li>View Available Jobs</li>
        <li>Make an Offer</li>
        <li>Work Together</li>
        <li>Job Complete Time for Pay</li>
      </ol>
    </div>
<div>





<%- include('../partials/footer.ejs') %>
