<%- include('../partials/header.ejs') %>

  <div>
    <a href="/post/jobPost"><button id="postJobButton">Make an Offer</button></a>
  </div>
    <div class="user-form-box">
      <p><%= message %></p>

      <h2>My Offers</h2>



    </div>
    <div class="second-form-box">
      <h2>How it works</h2>
      <ol id="orderedList">
        <li>Post a job</li>
        <li>Evaluate web developers and hire</li>
        <li>Work together</li>
        <li>Job complete time for pay</li>
      </ol>
    </div>
<div>





<%- include('../partials/footer.ejs') %>
