<%- include('../partials/header.ejs') %>

    <div class="form-box">
      <h3>ChiQuery Profile</h3>
      <form method="POST" action="/users/new" id="profile" class="input-group">
        <button
          type="submit"
          class="submit-btn"> BUTTON </button>
      </form>
    </div>






<%- include('../partials/footer.ejs') %>